* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
}
.container {
  width: 85%;
  margin: 0 auto;
}
#header {
  padding: 20px 0;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-1 {
  display: flex;
  gap: 7px;
}
nav a {
  color: rgba(31, 46, 53, 0.8);
  font-weight: 400;
  font-size: 18px;
}
nav {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  gap: 22px;
  font-size: 25px;
}
.hero {
  display: flex;
  justify-content: space-between;
  padding-block: 80px;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo h1 {
  font-weight: 700;
  font-size: 47px;
  width: 500px;
  line-height: 64px;
}
.logo h2 {
  color: rgba(238, 66, 72, 1);
  font-weight: 700;
  font-size: 47px;
}
.logo p {
  width: 520px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(48, 68, 78, 1);
  margin: 20px 0;
}
button {
  width: 160px;
  height: 50px;
  background: rgba(238, 66, 72, 1);
  border-radius: 5px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 70px;
  background: rgba(235, 235, 235, 1);
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-text h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  width: 450px;
}
.main-text span {
  color: rgba(238, 66, 72, 1);
}
.main-text p {
  width: 470px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(48, 68, 78, 1);
}
.service {
  padding-block: 70px;
}
.service h2 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  padding-block: 50px;
}
.service-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-box h1 {
  font-weight: 500;
  font-size: 28px;
  color: rgba(238, 66, 72, 1);
  margin: 25px 0;
}

.service-box p {
  width: 319px;
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(48, 68, 78, 1);
  margin: 28px 0;
}
.footer {
  display: flex;
  padding-block: 70px;
  gap: 60px;
  padding-block: 80px;
}
.footer-text a {
  font-weight: 300;
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
}
.footer-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact a {
  font-weight: 300;
  font-size: 18px;
  color: rgba(38, 50, 56, 1);
}
.the-end-block {
  justify-content: center;
  display: flex;
  background: rgba(238, 66, 72, 1);
  height: 60px;
  align-items: center;
  color: #fff;
}
